{
	"player": {
		"mark":"p", "speed":100
	},
	"monsters": [
		{"mark":"a", "speed":110, "type":"stupid"},
		{"mark":"q", "speed":70,  "type":"linear"},
		{"mark":"z", "speed":40,  "type":"assassin"}
	],
	"map": [
		"000000000000000000000",
		"0****0*********0****0",
		"0*00*0*0000000*0*00*0",
		"0*0***************0*0",
		"0*0*00*000 000*00*0*0",
		"0******0 zaq 0******0",
		"0*0*00*0000000*00*0*0",
		"0*0****** p ******0*0",
		"0*00*0*0000000*0*00*0",
		"0****0*********0****0",
		"000000000000000000000"
	]
}